.main-container {
    width: 100%;
    height: 100vh;
    background-color: #e8ddcb;
}

:root {
    --color1: #d4cdc5;
    --color2: #5b88a5;
    --color3: #f4f4f2;
    --color4: #191013;
    --color5: #243a69;
}
